@mixin lift($time) {
  transition: all $time cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

@mixin button-ripple($duration, $color){
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: $color;
  animation: ripple-animation 2s;
  opacity: 0;

  @keyframes ripple-animation {
    from {
      transform: scale(0);
      opacity: 0.4;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
  }
}
