@import "color";
@import "animation";

@mixin raised-button($bg-color, $font-color, $ripple-color: none, $ripple-duration: none){
  color: $font-color;
  background: $bg-color;
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  overflow: hidden;
  outline: none;
  font-size: .8em;
  @if $ripple-color != none {
    div.ripple {
      @include button-ripple($ripple-duration, $ripple-color);
    }
  }
}

@mixin flat-button($font-color, $ripple-color: none, $ripple-duration: none){
  color: $font-color;
  background: white;
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
  outline: none;
  font-size: .8em;
  @if $ripple-color != none {
    div.ripple {
      @include button-ripple($ripple-duration, $ripple-color);
    }
  }
}

.flat-button {
  @include flat-button($flat-button-text, $primary, 2s);
}

.raised-button {
  @include raised-button($secondary, white, white, 2s);
}
