
.bathroomInfoModal{
  overflow-y:scroll;
  position: fixed;
  z-index: 2;
  top: 100px;
  left: 200px;
  right: 200px;
  bottom: 30px;
  h4 {
    margin: 5px;
    color: grey;
    font-weight: normal;
  }
  .closeButton{
	margin-top:10px;
    // position: absolute;
    // bottom: 20px;
    // right: 20px;
	float:right;
  }
  .saveButton{
	margin-top:10px;
    	// position: absolute;
    // bottom: 20px;
    // left: 20px;
  }
.comments {
    height: 80px;
    padding: 0px 10px;
    // border: 1px solid grey;
    overflow: auto;
	.commentContainer{
      font-size: .7em;
      padding: 5px;
      border-bottom: 1px solid grey;
	    .comment {
	    }
		.comment-userName{
			margin-top: 10px;
		}
	}
}

}
