@import "material_components/color";
body {
  height: 100%;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: $primary;
  color: white;
  padding: 25px;
  font-size: 1.2em;
  z-index: 99;
  .page-name {
    margin-top: 10px;
  }
  .menu-button{
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    i {
      font-size: 40px;
    }
    transition: all .3s ease;
  }
  .move-right {
    margin-left: 250px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.main-content {
  padding: 120px 20px 20px 20px;
  .overlay {
    z-index: -99;
    background-color: tranparent;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: background-color .3s ease;
  }
  .overlay-open {
    z-index: 98;
    background-color: rgba(0,0,0,.5);
  }
}
