@import "material_components/color";

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: $primary;
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.main-content {
  padding: 120px 20px 20px 20px;
}
