@import "material_components";

.login-container {
  width: 40%;
  margin: 60px auto;
}

.lift {
  @include lift(0.3s);
}

.login-with-facebook-button {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.login-button {
  margin-top: 10px;
}
