@import "material_components";

.info-container {
  width: 60%;
  margin: auto;
}

.lift {
  @include lift(0.3s);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableRow {
  text-align: left;
  padding: 8px;
}

.tableHeader {
  border : 1px solid $primary-accent;
  text-align: center;
  padding: 8px;
}

.tableData {
  border : 1px solid $primary-accent;
}
