@import "material_components";

.info-container {
  width: 60%;
  margin: auto;
}

.lift {
  @include lift(0.3s);
}

.table {
  width: 100%;
  border : 1px solid $primary-accent;
  border-collapse: collapse;
  margin-bottom: 20px;
  td {
    padding: 5px;
  }
}

.tableRow {
  text-align: left;
  padding: 8px;
}

.tableHeader {
  border : 1px solid $primary-accent;
  text-align: center;
  padding: 8px;
}

.tableData {
  border : 1px solid $primary-accent;
}

.scrollList {
  border: 1px solid $primary-accent;
  height: 200px;
  width: auto;
  overflow: hidden;
  overflow-y: scroll;
}

TextArea {
  top: 300px;
  bottom: 300px;
  left: 200px;
  right: 200px;
}

ul {list-style-type: none; padding: 0px;}

.list_item{
  .flat-button{
    float: right;
  }
  padding: 10px;
  border-bottom: 1px solid $primary-accent;
  margin: none;
}
